__pycache__/
.ipynb_checkpoints
.DS_Store

docs/.doctrees
docs/_sources
jupyter_execute
source/examples/**/*.pdf
source/examples/**/*.html
source/examples/**/*.svg
source/examples/cookbook/new_folder
source/pages/api