__pycache__/
.ipynb_checkpoints
.DS_Store

docs/.doctrees
docs/_sources
jupyter_execute/
lets-plot-images/
source/examples/**/*.pdf
source/examples/**/*.html
source/examples/**/*.svg
source/python/pages/api